body {
    font-family: "Chakra Petch", sans-serif;
    text-align: center;
    background-color: #121212;
}


footer {
    font-size: 1.6vh;
    background: linear-gradient(135deg, #333333, #555555);
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

.input-group input {
    width: calc(100% - 110px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#modalHours,
#modalMinutes,
#modalSeconds {
    font-family: "Chakra Petch", sans-serif;
}

button {
    font-size: bold;
    font-family: "Chakra Petch", sans-serif;
    padding: 10px 20px;
    background-color: #6ad7e4;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4eb3be;
}



@keyframes glow {
    0% {
        text-shadow: 0px 0px 20px rgba(0, 26, 255, 1);
    }

    100% {
        text-shadow: 0px 0px 30px rgba(57, 215, 255, 1);
    }
}

#timer {
    margin-top: 50px;
    font-size: 150px;
    animation: glow 1.5s ease-in-out infinite alternate;
    color: white;
    font-family: 'Fira Code', 'Roboto Mono', 'IBM Plex Mono', monospace;
}




#timer:hover {
    color: #6ad7e4;
    cursor: pointer;

}

#endMessage {
    display: none;
    font-size: 8em;
    color: rgb(255, 0, 0);
    font-weight: bold;
}

button#resetButton.disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
button#timeButton.disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.gopher-image {
    position: absolute;
    height: 90vh;
    bottom: 5vh;
    right: 0;
    margin: auto;
    z-index: -1;
    opacity: 0.5;
}

.go-image {
    position: absolute;
    width: 70vw;
    bottom: 0;
    top: 0;
    left: 0;
    margin: auto;
    z-index: -1;
    opacity: 0.5;
}

.siema {
    color: white;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-container button,
.buttons-container nav {
    margin: 0 5px;
}